
body{
    font-family: 'Bitter', serif;
}

.main-banner{
    /** negative top margin is to remove gap below navbar **/
    margin-top: -20px;
    height: 800px;
    background-size: cover;
    text-align: center;
    padding-top: 17.5%;
    background-image: url(unpacking-dark.jpg);
    background-attachment: fixed;
    background-position: bottom;
    margin-bottom: 75px;
}

.main-banner .delius{
    font-family: 'Delius Swash Caps', cursive;
    font-size: 4em;
    color: white;
    text-shadow: 2px 2px #ff0000;
    /**color: #F07A5E;**/
}

.main-banner .bitter{
    font-family: 'Bitter', serif;
    font-size: 4em;
    color: white;
    
}

.main-banner .pacifico{
    font-family: 'Pacifico', cursive;
    font-size: 8em;
    color: white;
    text-shadow: 2px 2px #5CC6FF; 
}

.main-banner .itim{
    font-family: 'Itim', cursive;
    font-size: 3em;
    color: white;
    text-shadow: 2px 2px #ff0000;
}

.headline-row{
    text-align: center;
}

.headline{
    font-family: 'Pacifico', cursive;
    font-size: 5em;
    color: #5CC6FF;
}

/** FOR IMAGES
.banner{
    height: 400px;
    margin-top:20px;
}

**/

/** FOR ICONS **/

.banner{
    height: 400px;
    margin-top:20px;
    text-align: center;
    padding-top: 75px;
}

.banner img{
    width: 100%;
    height: 100%;
}

.banner-caption{
    font-family: 'Bitter', serif;
    background-color: white;
    height: 400px;
}

.banner-caption h3{
    display: block;
    padding: 50px;
}

.left-border{
    display: block;
    color:gray;
    padding-left: 50px;
    padding-right: 50px;
    border-left: solid thin gray;
}

.right-border{
    display: block;
    color:gray;
    padding-left: 50px;
    padding-right: 50px;
    border-right: solid thin gray;
    
}

.about-us{
    background-color: #F2FBFF;
    height:400px;
    margin-top: 20px;
}

.footer{
    text-align: center;
    margin-top: 20px;
    height: 100px;
    background-color: gray;
    padding:25px;
}