.main-banner{
    height: 500px;
    background-image: url('generic-photo.jpg');
    background-size: cover;
}

.main-banner h1{
    font-family: 'Poppins', sans-serif;
    font-size: 5em;
    color: white;
    text-shadow: 0px 2px 2px black;
    padding-left: 40%;
    padding-top: 5%;
    text-align: center;
}

.main-banner h2{
    font-family: 'Poppins', sans-serif;
    font-size: 3em;
    color: white;
    text-shadow: 0px 2px 1px black;
    padding-left: 40%;
    padding-top: 5%;
    text-align: center;
}

/**
.main-banner img{
    z-index: -1;
    position: absolute;
    width: 100%;
}
**/

.banner{
    background-color:#F07A5E;
    height: 400px;
    text-shadow: 0px 2px 3px #555;
}

.banner-caption{
    background-color: white;
    height: 400px;
}