.main-banner{
    background-color:#81BDF9;
    background-image: url(app/assets/images/generic-photo.jpg);
    height: 400px;
    text-shadow: 0px 2px 3px #A8D4FF;
}

.main-banner img{
    z-index: -1;
    position: absolute;
    max-height: 400px;
    /**not currently used -- will resize and position image behind text **/
}

.left-banner{
    background-color:#F07A5E;
    height: 400px;
    text-shadow: 0px 2px 3px #555;
}

.right-banner{
    background-color:#D9D9D9;
    height: 400px;
    text-shadow: 0px 2px 3px #555;
}

