<div class='row padded'>
    <div class='col-md-12'>
        <div class='container'>
            <div class='container'>
                <h1 class='header floating_text'><strong>We are The Menard Team</strong></h1>  
                <span class='body_text sub_header floating_text_lower'>the real estate company to help you <br> find your home, sweet home</span>
            </div>
            <%= image_tag('pexels_home.jpg', class:'header_image' )%>
        </div>
    </div>
</div>


<div class='row padded'>
    <div class='container'>
        <div class='col-md-3 double_outline'>
            test
        </div>
        <div class='col-md-1'></div>
        <div class='col-md-4 double_outline'>
            test
        </div>
        <div class='col-md-1'></div>
        <div class='col-md-3 double_outline'>
            test
        </div>
    </div>
</div>