<div class='row'>
    <div class='col-md-12 main-banner'>
        <h1>The Menard Team</h1>
        <h2>Serving Southern New Hampshire's Real Estate needs since 2001</h2>
    </div>
</div>

<div class='row'>
    <div class='col-md-6 banner'>Test</div>
     <div class='col-md-6 banner-caption'>Test</div>
</div>

<div class='row'>
    <div class='col-md-6 banner-caption'>Test</div>
    <div class='col-md-6 banner'>Test</div>
</div>

<div class='row'>
    <div class='col-md-6 banner'>Test</div>
     <div class='col-md-6 banner-caption'>Test</div>
</div>