<div class='row'>
    <div class='col-md-12 main-banner'>
        <%= image_tag("generic-photo") %>
        <h1>Test</h1>
    </div>
</div>

<div class='row'>
    <div class='col-md-6 left-banner'>Test</div>
     <div class='col-md-6 right-banner'>Test</div>
</div>