<div class='row padded'>
    <div class='col-md-12'>
        <div class='container'>
            <div class='container'>
                <h1 class='header floating_text'><strong>We are The Menard Team</strong></h1>  
                <span class='body_text sub_header floating_text_lower'>the real estate company to help you <br> 
                find your <span class='raleway_400'>home, sweet home</span></span>
            </div>
            <%= image_tag('pexels_home.jpg', class:'size_image' )%>
        </div>
    </div>
</div>


<div class='row padded center'>
    <h1 class='upper details_header'>What we do</h1>
    <br><br>
    <div class='container'>
        <div class='col-md-3 double_outline center'>
            <br>
            <h5 class='upper details_header'>Coaching</h5>
            <p class='details_content'>Athletes, performers, business executives, and
            entrepreneurs share one thing in common: they are 
            guided by an effective and committed coach.  If you are an agent or 
            broker looking to maximize your potential, you can benefit greatly from the time-tested 
            real estate coaching services offered by The Menard Team. </p>
            <br>
        </div>
        <div class='col-md-1'></div>
        <div class='col-md-4 double_outline center'>
            <br>
            <h5 class='upper details_header'>Residential Sales</h5>
            <p class='details_content'>We provide more than just a way to buy or sell your home.
            From information on the local community, to advice about finding a mortgage or preparing 
            your home to sell, it's all available here with The Menard Team.  We've
            helped hundreds of buyers find their dream home, and hundreds of sellers get the most
            out of the sale of their home. We cover all of Southern New Hampshire and Northern Massachusetts, 
            fully licensed in both states.</p>
            <br>
        </div>
        <div class='col-md-1'></div>
        <div class='col-md-3 double_outline center'>
            <br>
            <h5 class='upper details_header'>Transaction Coordination</h5>
            <p class='details_content'>Whether you're a single agent or an office
            of fifty, we offer prfessional transaction coordination services at avery affordable
            rate.  No more dealing with proof-reading contracts or researching legal contraints; 
            we'll take care of all of that for you.  Never get hit with a fee or penalty again!</p>
            <br>
        </div>
    </div>
</div>

<div class='row feedback_row center'>
    <h1 class='upper details_header white'>What our clients are saying</h1>  
    
    <div id="carousel-example-generic" class="carousel slide padded feedback_box" data-ride="carousel">

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="item active">
            <p class="body_text feedback_quote white">
            “If you are looking for a real 
            estate agent, The Menard Team is the company for you. They sold my house in 
            four days getting more than we asked. They are extremely professional and personable. 
            You won't be disappointed.”
            <br>
            — Marlo, Lancaster, NH
        </div>
        <div class="item">
            <p class="body_text feedback_quote white">
            “Home sale is a daunting ordeal 
            and The Menard Team made it very seamless. For every small detail that came up 
            , they had an answer or got one very quickly. I will definitely 
            recommend them to all my friends and family.”
            <br>
            — Prasi, Amherst, NH
            </p>
        </div>
        <div class="item">
            <p class="body_text feedback_quote white">
            “We made the absolute right choice in selecting The Menard Team to sell 
            our home! His personal attention, professionalism, and 
            communication of what buyers expect in our price range were keys in 
            getting our home sold quickly. This has been the best real estate 
            experience we have ever had!”
            <br>
            — Lynda & Gregg, Clarence, NH
            </p>
        </div>
        <!-- Indicators -->
        <br><br><br>
          <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
          </ol>
      </div>
    
      <!-- Controls 
      <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
      -->
    </div>
</div>

<div class='row padded padded_top center'>
    <h1 class='upper details_header'>Meet the Team</h1>  
    <br><br>
    <div class='container'>
        <div class='col-md-6'>
            <%= image_tag('fake_carol.jpg', class:'size_image double_outline')%>
            <br>
            <h1 class="raleway_400">Carol</h1>
        </div>
        <div class='col-md-6'>
            <%= image_tag('fake_frank.jpg', class:'size_image double_outline')%>
            <br>
            <h1 class="raleway_400">Frank</h1>
        </div>
    </div>
</div>

<div class='row'>
    <div class='container'>
        <div class='col-md-6'>
            <p class='body_text'>
                We are a dynamic marketing team, working well with buyers and 
                sellers in all price ranges, from all walks of life. We bring to 
                the table over 35 years of combined sales experience, negotiating 
                skills, and expertise in our field. 
                </p>
                <p class='body_text'>
                We understand the needs of our 
                clients and work hard to help them to achieve their goals. Whether a 
                buyer or a seller, we understand that real estate transactions are often 
                complex, and we work hard to take care of all the details, leaving our 
                clients free to manage their own lives and careers.
            </p>
        </div>
        <div class='col-md-6'>
            <p class="body_text">
                We pride ourselves on our level of service, and can easily provide 
                our customers and clients with references. We do a great deal of
                our business through referrals from previous clients, and work hard
                to solidify permanent relationships that will last a lifetime. 
            </p>
            <p class='body_text'>
                When in need of professional real estate services, just give us a call, we’ll be glad to help.
                Whether moving across the street, or across the country, we can help. 
                We utilize a world-wide referral network that can find you help wherever you go.
            </p>
        </div>
    </div>
</div>

<div class='row tan_bg center padded'>
    <div class='container'>
        <h1 class='upper raleway_200 grey'>If you like what you see, let's work <span class="raleway_400 grey">together</span></h1> 
    </div>
</div>