<div class='row'>
    <div class='col-md-12 main-banner'>
        <h1>The Menard Team</h1>
        <p>Serving Southern New Hampshire's <br>Real Estate needs since 2001</p>
    </div>
</div>

<div class='row'>
    <div class='col-md-6 banner'>
        <%= image_tag("http://completecr.com/wp-content/uploads/2014/07/Ocean-County-custom-home-builder-and-design-firm-Complete-Construction-Remodeling.jpg")%>
    </div>
    <div class='col-md-6 banner-caption'>
        <h3><strong>Residential Sales</strong></h2>
        <p class='left-border'>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi 
        condimentum interdum dui quis placerat. In id nisi auctor nisl eleifend 
        iaculis sed et leo. In hac habitasse platea dictumst. Maecenas non 
        feugiat est. Sed non magna a arcu ultrices blandit. Donec faucibus 
        gravida volutpat. Suspendisse nunc odio, aliquam rutrum est in, mollis
        vehicula tellus. Duis varius, dui vel cursus pharetra, quam tellus 
        vulputate ligula, ac semper eros dolor vel dui.</p>
        <br>
        <button type="button" class="btn btn-info">Find out more</button>
    </div>
</div>

<div class='row'>
    <div class='col-md-6 banner-caption'>
        <h3><strong>Coaching Services</strong></h2>
        <p class='right-border'>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi 
        condimentum interdum dui quis placerat. In id nisi auctor nisl eleifend 
        iaculis sed et leo. In hac habitasse platea dictumst. Maecenas non 
        feugiat est. Sed non magna a arcu ultrices blandit. Donec faucibus 
        gravida volutpat. Suspendisse nunc odio, aliquam rutrum est in, mollis
        vehicula tellus. Duis varius, dui vel cursus pharetra, quam tellus 
        vulputate ligula, ac semper eros dolor vel dui.</p>
        <br>
        <button type="button" class="btn btn-info">Find out more</button>
    </div>
    <div class='col-md-6 banner'>
        <%= image_tag("http://www.ptp.co.uk/press/wp-content/uploads/2013/12/shutterstock_77534098.jpg")%>
    </div>
</div>

<div class='row'>
    <div class='col-md-6 banner'>
        <%= image_tag("http://www.lawrencelawoffices.com/wp-content/uploads/2012/04/buysell.jpg")%>
    </div>
     <div class='col-md-6 banner-caption'>
        <h3><strong>Transaction Coordination</strong></h2>
        <p class='left-border'>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi 
        condimentum interdum dui quis placerat. In id nisi auctor nisl eleifend 
        iaculis sed et leo. In hac habitasse platea dictumst. Maecenas non 
        feugiat est. Sed non magna a arcu ultrices blandit. Donec faucibus 
        gravida volutpat. Suspendisse nunc odio, aliquam rutrum est in, mollis
        vehicula tellus. Duis varius, dui vel cursus pharetra, quam tellus 
        vulputate ligula, ac semper eros dolor vel dui.</p>
        <br>
        <button type="button" class="btn btn-info">Find out more</button>
     </div>
</div>

<div class='row footer'>
    <div class='col-xs-12'>FOOTER</div>
</div>