<div class='row'>
    <div class='col-md-12 main-banner'>
        <span class='bitter'><strong>Find your</strong></span>
        <p class='pacifico'>home, sweet home</p>
        <span class='bitter'><strong>with The Menard Team</strong></span>
    </div>
</div>

<div class='row headline-row'>
    <p class='headline'>Our Services</p>
</div>

<div class='row'>
    <div class='col-md-6 banner'>
        <%= image_tag("http://completecr.com/wp-content/uploads/2014/07/Ocean-County-custom-home-builder-and-design-firm-Complete-Construction-Remodeling.jpg")%>
        <!--  <i class="material-icons" style='font-size: 250px;'>home</i> -->
    </div>
    <div class='col-md-6 banner-caption'>
        <h3><strong>Residential Sales</strong></h2>
        <p class='left-border'>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi 
        condimentum interdum dui quis placerat. In id nisi auctor nisl eleifend 
        iaculis sed et leo. In hac habitasse platea dictumst. Maecenas non 
        feugiat est. Sed non magna a arcu ultrices blandit. Donec faucibus 
        gravida volutpat. Suspendisse nunc odio, aliquam rutrum est in, mollis
        vehicula tellus. Duis varius, dui vel cursus pharetra, quam tellus 
        vulputate ligula, ac semper eros dolor vel dui.</p>
        <br>
        <button type="button" class="btn btn-info" style="background-color: #5CC6FF; margin-left:50px;">Find out more</button>
    </div>
</div>

<div class='row'>
    <div class='col-md-6 banner'>
        <%= image_tag("http://www.ptp.co.uk/press/wp-content/uploads/2013/12/shutterstock_77534098.jpg")%> 
        <!-- <i class="material-icons" style='font-size: 250px;'>trending_up</i> -->
    </div>
    
    <div class='col-md-6 banner-caption'>
        <h3><strong>Coaching Services</strong></h2>
        <p class='left-border'>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi 
        condimentum interdum dui quis placerat. In id nisi auctor nisl eleifend 
        iaculis sed et leo. In hac habitasse platea dictumst. Maecenas non 
        feugiat est. Sed non magna a arcu ultrices blandit. Donec faucibus 
        gravida volutpat. Suspendisse nunc odio, aliquam rutrum est in, mollis
        vehicula tellus. Duis varius, dui vel cursus pharetra, quam tellus 
        vulputate ligula, ac semper eros dolor vel dui.</p>
        <br>
        <button type="button" class="btn btn-info" style="background-color: #5CC6FF; margin-left:50px;">Find out more</button>
    </div>
</div>

<div class='row'>
    <div class='col-md-6 banner'>
        <%= image_tag("http://www.lawrencelawoffices.com/wp-content/uploads/2012/04/buysell.jpg")%> 
        <!-- <i class="material-icons" style='font-size: 250px;'>assignment_turned_in</i> -->
    </div>
     <div class='col-md-6 banner-caption'>
        <h3><strong>Transaction Coordination</strong></h2>
        <p class='left-border'>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi 
        condimentum interdum dui quis placerat. In id nisi auctor nisl eleifend 
        iaculis sed et leo. In hac habitasse platea dictumst. Maecenas non 
        feugiat est. Sed non magna a arcu ultrices blandit. Donec faucibus 
        gravida volutpat. Suspendisse nunc odio, aliquam rutrum est in, mollis
        vehicula tellus. Duis varius, dui vel cursus pharetra, quam tellus 
        vulputate ligula, ac semper eros dolor vel dui.</p>
        <br>
        <button type="button" class="btn btn-info" style="background-color: #5CC6FF; margin-left:50px;">Find out more</button>
     </div>
</div>

<div class='row about-us'>
    <div class='col-md-6'>
        test
    </div>
    <div class='col-md-6'>
        test
    </div>
</div>

<div class='row footer'>
    <div class='col-xs-12'>FOOTER</div>
</div>