<div class='row'>
    <div class='col-xs-12 headline-row'>
        <h1 class='bitter'>Residential Sales</h1>
    </div>
</div>

<div class='row sales-banner'>
</div>

<div class='row'>
    <div class='col-md-4 center'>
        <h3 class='bitter'>Headline</h3>
    </div>
    <div class='col-md-4 center'>
        <h3 class='bitter'>Headline</h3>
    </div>
    <div class='col-md-4 center'>
        <h3 class='bitter'>Headline</h3>
    </div>
</div>