<!DOCTYPE html>
<html>
  <head>
    <title>Workspace</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <!-- Serif Font --><link href="https://fonts.googleapis.com/css?family=Raleway:200,400,500,900" rel="stylesheet">
    <!-- Script fonts --> <link href="https://fonts.googleapis.com/css?family=Delius+Swash+Caps|Itim|Pacifico" rel="stylesheet">
    <!-- Google icons --> <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <%= csrf_meta_tags %>
    
  <!-- Bootstrap Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  
  <!-- Booststrap Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  
  </head>
  <body>
        
      <nav class="navbar navbar-default" style="background-color: white; height:75px; padding-top:10px; border: none">
        <div class="container-fluid">
          <!-- Brand -->
          <div class="navbar-header">
            <!-- collapse menu
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            -->
            <a class="navbar-brand raleway_400">The Menard Team</a>
          </div>
       <!-- LEFT NAVBAR 
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
              <li><a href="#">Link</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">Separated link</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">One more separated link</a></li>
                </ul>
              </li>
            </ul>
            
            -->
            <ul class="nav navbar-nav navbar-right hidden-xs">
                <ul class="nav navbar-nav">
                  <li><a href="#">Services</a></li>
                  <li><a href="#">Testimonials</a></li>
                  <li><a href="#">Our Process</a></li>
                  <li><a href="#">Meet the Team</a></li>
                  <li><a href="#">Contact Us</a></li>
                </ul>
              </ul>
        </div><!-- /.container-fluid -->
      </nav>
      
      <div class='container-fluid'>
        <%= yield %>
      </div>
      
      <div class='row padded dark_grey_bg'>
        <br><br>
        <div class='container'>
             <div class='col-md-3'>
              <h1 class='upper details_header white'>About Us</h1>
              <p class='body_text white'>
                We are a small, local real estate business serving the Southern New
                Hampshire and Northern Massachusetts area.  
              </p>
              <p class='body_text white'>
                We work with both buyers
                and sellers, and also offer coaching and transaction coordination services.
              </p>
            </div>
            <div class='col-md-1'></div>
            <div class='col-md-4'>
              <h1 class='upper details_header white'>Get In Touch</h1>
              <p class='body_text white'>
                If you would like to work with us, or if you just have a few questions,
                please don't hesitate to reach out.  We can be reached by email, phone, or mail.
              </p>
              <p class='body_text white'>
                1123 Wilson Way, Nashua, NH <br>
                (123) 456 7890 <br>
                <a href='#' class='teal'>hello@themenardteam.com</a>
              </p>
            </div>
            <div class='col-md-1'></div>
            <div class='col-md-3'>
              <h1 class='upper details_header white'>Find us on social media</h1>
              <p class='body_text white'>
                <a href='#' class='teal'>Facebook</a>
                <br>
                <a href='#' class='teal'>LinkedIn</a>
                <br>
                <a href='#' class='teal'>Foursquare</a>
              </p>
            </div>
        </div>
    </div>
    
    <div class='row dark_grey_bg padded'>
      <div class='col-xs-12'>
        <span class='grey'>© 2016 The Menard Team LLC. All rights reserved. Built with <span class='heart'>&hearts;</span>  by Brian Menard</span>
      </div>
    </div>
    
  </body>
</html>
